
<%= form_for @review, :method => post: do |f| %>
  <div class="col-4">
    <div class="form-group">
      <%= f.label :author, :class => "form_name" %>
      <%= f.text_field new_review['author'], :class => "form-control" %>
      <%= f.label :content, :class => "form_name" %>
      <%= f.text_field new_review['content'], :class => "form-control" %>
      <%= f.label :destination, :class => "form_name" %>
      <%= f.text_field new_review['destination'], :class => "form-control" %>
      <span class="input-group-btn">
      <%= f.submit :class => "btn btn-primary"%>
      </span>
    </div>
  </div>
<% end %>



<p><%= link_to "Return to Reviews", reviews_path%></p>
